@{
    ViewData["Title"] = "Editar Contato";
}


<div class="Text-center">

    <h1 class="display-4"> Editar Contato</h1>


</div>

<form>
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome de contato">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="E-Mail">E-mail</label>
        <input type="text" class="form-control" placeholder="Digite o e-mail de contato">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="Celular">Celular</label>
        <input type="text" class="form-control" placeholder="Digite o celular de contato">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" aps-controller="Contato" asp-action="Index" role="button">Voltar</a>

</form>
